<div class="panel panel-primary announcement-container">
  <section class="panel-body announcement-content">
      <%= raw announcement.content %> 
    <footer class="panel-footer announcement-footer">
      <p><%= announcement.created_at %></p>
    </footer>
  </section>
</div>
