<%= form_for @RESULT, :url => upload_results_file_result_path(@RESULT), :html => { :multipart => true } do |f| %>

  <%= f.label :document %>
  <p><strong>Only PDFs or Excel spreadsheets permitted.</strong></p>
  <%= f.file_field :document, class: "form-control" %>

  <%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>
