@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

html {
    overflow-y: scroll;
    background-color: grey;
}

body {
    padding-top: 60px;
    background-color: black;
}

.row {
    background-color: white;
}

section {
    overflow: auto;
}

.nso-nav-left {
}

.nso-banner {
    background-color: black;
    padding-bottom: 60px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
    @include box_sizing;
}

#session_email, #session_password {
    width: 100%;
}

input {
    height: auto !important;
}

#footer-container {
    margin-bottom: 0;
}

.site-footer p {
    margin-bottom: 0;
}

#content-container {
    margin-bottom: 0;
}

.user-container {
    border: 1px solid black;
    margin: 2px;
    p {
        margin: 5px;
    }
}
